@import url(./registerFont.css);

body {
  font-family: "MISans Medium";
}

h1,h2,h3,h4,h5,h6 {font-weight: 400; border-bottom: 2px solid lightgrey; color: tomato;}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 14px;
}

button {
  outline: none;
  border: 0;
  /* border: 1px solid lightgray; */
  background-color: rgba(0,0,0,0);
  /* color: tomato; */
  padding: 3px 10px;
  font-size: 25px;
  border-radius: 5px;
  font-weight: 700;
}

button:hover{
  transition: background .5s, color .5s;
  background-color: tomato;
  cursor: pointer;
  color: white;
}

input {
  outline: none;
  border: 1px solid lightgray;
  /* color: tomato; */
  padding: 10px;
  width: 100%;
  margin: 5px 0;
}